PORT=5000
NODE_ENV=development

MONGODB_URI=mongodb://localhost:27017/artiste_meetup

ACCESS_SECRET=your-access-secret-here
REFRESH_SECRET=your-refresh-secret-here
JWT_ACCESS_TOKEN_EXPIRES_IN=1h
JWT_REFRESH_TOKEN_EXPIRES_IN=1d

SUPER_ADMIN_EMAIL=admin@example.com
SUPER_ADMIN_PASSWORD=admin123
